.profile-page {
  min-height: 100vh;

  background:
    linear-gradient(
      rgba(7, 46, 26, 0.8),
      rgba(7, 46, 26, 0.9)
    ),
    url("https://images.unsplash.com/photo-1490645935967-10de6ba17061?w=1920&q=80");

  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px;

  font-family: "Segoe UI", sans-serif;
}

.profile-card {
  width: 450px;

  background: rgba(255, 255, 255, 0.12);

  backdrop-filter: blur(18px);

  border-radius: 25px;

  padding: 40px;

  color: white;

  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
}

.profile-card h1 {
  text-align: center;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  margin-bottom: 25px;
  opacity: 0.9;
}

.profile-card input,
.profile-card select {
  width: 100%;

  padding: 15px;

  margin-bottom: 18px;

  border: none;

  border-radius: 12px;

  background: rgba(255, 255, 255, 0.15);

  color: white;

  font-size: 15px;

  outline: none;
}

.profile-card option {
  color: black;
}

.profile-card button {
  width: 100%;

  padding: 15px;

  border: none;

  border-radius: 12px;

  background: #84cc16;

  color: white;

  font-size: 16px;

  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;
}

.profile-card button:hover {
  transform: translateY(-3px);
}

@media (max-width: 768px) {
  .profile-card {
    width: 90%;
    padding: 30px 20px;
  }

  .profile-card h1 {
    font-size: 28px;
  }
}